section#about.advantages
  .container 
    .advantages__top
      h2 Что скрывает занавес
      img(src="./assets/img/icons/advantages-xs.svg" width="182" height="142" alt="")
      img(src="./assets/img/icons/advantages.svg" width="578" height="242" alt="")
    .advantages__list 
      .advantages__item
        h3 Привыкли работать "по-знакомству"
        p Любой просчёт простит лояльный заказчик, а значит нет смыслы работать над ошибками. В таких ЧОПах не любят брать ответственность 
          | на себя и вы будете постоянно расхлёбывать свои проблемы с безопасностью сами.
      .advantages__item
        h3 ШТРАФЫ ШТРАФЫ ШТРАФЫ
        p Нет системы мотивации, обучения и контроля охранников, никто не работает над эффективностью. Такие ЧОПы лишь занимаются 
         | перекладыванием ответственности на охранника при возникновении проблем, а вы будете получать каждую неделю новую головную боль.
      .advantages__item
        h3 Не умеют подбирать охранников
        p Нанимают “кадровика” за небольшую зп и скидывают все вакансии на этого сотрудника. Кадровики не мотивированы, сидят на окладе, 
         | набирая всех подряд под давлением начальников. Потом на объектах начинают происходить кражи.
      .advantages__item
        h3 Обращаются к охранникам, как к скоту
        p Постоянно нарушают их права: забирают документы при оформлении, штрафуют за любую провинность, обманывают с условиями - обещают одно, 
         | а по факту на объекте совсем другое. В результате охранники и ведут себя как скот на объекте, причиняя вред ни в чём не повинному бизнесу.
      .advantages__item
        h3 Полное отсутствие клиентоориентированности
        p Всё дело в менталитете руководителей и охранников ЧОПа. Качественный сервис подразумевает, что нужно “подстраиваться” под клиента, 
         | а для людей из этой сферы зачастую означает проявить слабость. Многие ЧОПы так и не перестроились, не провели работы по улучшению обслуживания, помимо всего прочего, этому способствует хороший доход, который можно получать от “дружественных” контрактов.
      