nav.nav
  ul(role="menu")
    li(role="menuitem")
        a(href="#gift") Подарок
    li(role="menuitem")
        a(href="#rates") Тарифы
    li(role="menuitem")
        a(href="#about") О нас
    li(role="menuitem")
        a(href="#contacts") Напишите нам
  //- include ./../socials/socials.pug
