nav.nav
  ul(role="menu")
    li(role="menuitem")
        a(href="#services") Подарок
    li(role="menuitem")
        a(href="#price") Тарифы
    li(role="menuitem")
        a(href="#reviews") О нас
    li(role="menuitem")
        a(href="#photo") Напишите нам
