.question {
  position: relative;
  padding: 2rem 0 2.8rem 0;
  overflow-x: hidden;

  @media (min-width: 1024px) {
    padding: 4.5rem 0 5rem 0;
  }

  @media (min-width: 1024px) {
    padding: 11rem 0 10.8rem 0;
  }

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    background: radial-gradient(46.93% 46.93% at 74.03% 45.47%, rgba(84, 224, 255, 0.26) 0%, rgba(84, 224, 255, 0) 100%);

    // @media (min-width: 1440px) {
    //   top: 0;
    //   left: 0
    // }
  }

  &__inner {
    width: 100%;
  }

  &__form {
    position: relative;
    z-index: 100;
    width: 100%;
    max-width: 100rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 1rem auto;
    padding: 1.3rem 1.5rem 1.2rem 1.5rem;
    background: url("../img/icons/question-1-xs.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;

    @media (min-width: 900px) {
      align-items: center;
      padding: 3rem 3.5rem 3rem 6rem;
      margin: 0 auto 8.8rem auto;
      // background: url("../img/icons/question-1.svg");
      // background-repeat: no-repeat;
      // background-position: 0 0;
      // background-size: cover;
    }

    @media (min-width: 1440px) {
      max-width: 136rem;
      padding: 4rem 0 4rem 9.4rem;
      align-items: flex-start;
      background: url("../img/icons/question-1.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: cover;
    }

    &::after,
    &::before {
      position: absolute;
      z-index: 10;
      content: "";
      top: -0.8rem;
      width: 23.8rem;
      height: 2rem;
      background: url("../img/icons/line-green.svg") 100% 100%/cover no-repeat;

      @media (min-width: 1440px) {
        width: 40.9rem;
      }
    }

    &::after {
      right: -3rem;
      top: -0.4rem;
      height: 1.12rem;
      transform: translateX(-4%);

      @media (min-width: 375px) {
        right: -1%;
        transform: translateX(-4%);
      }

       @media (min-width: 900px) {
        // left: 34rem;
        left: 29rem;
        top: -0.2rem;
      }
    }

    &::before {
      left: -1rem;
      top: -1.3rem;;

      @media (min-width: 375px) {
        left: 1%;
        transform: translateX(-4%);
      }

      @media (min-width: 900px) {
        left: 6rem;
        top: -0.8rem;
      }
    }

    h2 {
      margin-bottom: 1.9rem;
      @include AppleSDGothicNeoExtraBold();
      font-size: 2.4rem;
      line-height: 2.9rem;
      color: var(--white-main);

      @media (min-width: 375px) {
        font-size: 2.6rem;
        line-height: 3.1rem;
      }

      @media (min-width: 750px) {
        font-size: 2.8rem;
        line-height: 3.3rem;
      }

      @media (min-width: 900px) {
        font-size: 3rem;
        line-height: 3.5rem;
      }

      @media (min-width: 1024px) {
        font-size: 3.2rem;
        line-height: 3.7rem;
      }

      @media (min-width: 1440px) {
        margin-bottom: 2.9rem;
        font-size: 5.2rem;
        line-height: 6.2rem;
      }
    }

    p {
      @include AppleSDGothicNeoLight();
      font-size: 1.3rem;
      line-height: 1.7rem;
      color: var(--white-main);

      @media (min-width: 750px) {
        font-size: 1.6rem;
        line-height: 2rem;
      }

      @media (min-width: 900px) {
        font-size: 1.8rem;
        line-height: 2.2rem;
      }

      @media (min-width: 1024px) {
        font-size: 2rem;
        line-height: 2.4rem;
      }

      @media (min-width: 1440px) {
        font-size: 2.4rem;
        line-height: 2.9rem;
      }

      &:nth-of-type(1) {
        margin-bottom: 1.6rem;

        @media (min-width: 750px) {
          margin-bottom: 1.8rem;
        }

        @media (min-width: 1440px) {
          margin-bottom: 2.5rem;
        }
      }

      &:nth-of-type(2) {
        max-width: 35rem;
        text-align: center;
        margin-bottom: 1.1rem;

        @media (min-width: 750px) {
          margin-bottom: 1.5rem;
        }

        @media (min-width: 900px) {
          max-width: 43rem;
          // text-align: left;
        }

        @media (min-width: 1440px) {
          max-width: 56rem;
          margin-bottom: 2.9rem;
          text-align: left;
        }
      }
    }

    &-phone {
      display: inline-block;
      margin-left: 3rem;
      @include AppleSDGothicNeoBold();
      font-size: 1.4rem;
      line-height: 2.4rem;
      color: var(--dark-green);

      @media (min-width: 375px) {
        font-size: 1.8rem;
        line-height: 2.2rem;
      }

      @media (min-width: 750px) {
        font-size: 2rem;
        line-height: 2.2rem;
      }

      @media (min-width: 900px) {
        font-size: 2.2rem;
        line-height: 2.4rem;
      }

      @media (min-width: 1024px) {
        font-size: 2.4rem;
        line-height: 2.6rem;
      }

      @media (min-width: 1440px) {
        font-size: 4rem;
        line-height: 4.8rem;
      }
    }

    &-policy {
      display: inline-block;
      text-align: center;
      @include AppleSDGothicNeoLight();
      font-size: 1rem;
      line-height: 1.2rem;
      color: var(--white-main);
      opacity: 0.5;

      @media (min-width: 750px) {
        font-size: 1.4rem;
        line-height: 1.6rem;
      }

      @media (min-width: 1024px) {
        font-size: 1.6rem;
        line-height: 1.8rem;
      }

      @media (min-width: 1440px) {
        text-align: left;
        font-size: 2rem;
        line-height: 2.4rem;
      }
    }

    img {
      display: none;
      // position: absolute;
      // right: 0;
      // bottom: 0;

      @media (min-width: 900px) {
        // position: absolute;
        // right: -0.3rem;
        // bottom: -0.1rem;
        // width: 33rem;
        // right: 0;
        // bottom: 0;
        // width: 29rem;
        // display: block;
      }

      // @media (min-width: 1024px) {
      //   right: -0.1rem;
      //   bottom: 0.1rem;
      //   width: 35rem;
      // }

      // @media (min-width: 1200px) {
      //   position: absolute;
      //   right: -0.3rem;
      //   bottom: -0.1rem;
      //   width: 33rem;
      //   display: block;
      // }

      @media (min-width: 1440px) {
        position: absolute;
        right: -0.1rem;
        bottom: 0.1rem;
        width: 47.1rem;
        display: block;
      }
    }
  }

  &__form-fields {
    width: 100%;
    max-width: 33rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.3rem;

    @media (min-width: 900px) {
      flex-direction: row;
      max-width: 51rem;
    }

    @media (min-width: 1024px) {
      max-width: 59rem;
    }
    
    @media (min-width: 1440px) {
      max-width: 74.2rem;
      flex-direction: row;
      margin-bottom: 3rem;
    }

    input {
      width: 100%;
      // height: 4rem;
      // margin-right: 3rem;
      margin-bottom: 1.5rem;
      padding: 1.4rem 1.6rem 1.4rem 1.6rem;
      // padding: 2.2rem 4.45rem;
      @include AppleSDGothicNeoRegular();
      font-size: 1.4rem;
      line-height: 1.7rem;
      color: var(--black-main);
      border-radius: 1.5rem;
      border: none;
      outline: none;

      @media (min-width: 750px) {
        // height: 5rem;
        padding: 1.5rem 1.6rem 1.1rem 1.6rem;
        font-size: 1.6rem;
        line-height: 2.8rem;
      }

      @media (min-width: 900px) {
        margin-right: 3rem;
        margin-bottom: 0;
      }

      @media (min-width: 1024px) {
        // height: 6rem;
      }

      @media (min-width: 1200px) {
        // height: 7rem;
        font-size: 2.2rem;
        line-height: 2.6rem;
      }

      @media (min-width: 1440px) {
        // height: 7rem;
        margin-bottom: 0;
        margin-right: 3rem;
        width: 50%;
        padding: 2.8rem 4.45rem 2.2rem 4.45rem;
        font-size: 2.2rem;
        line-height: 2.6rem;
      }

      &::placeholder {
        @include AppleSDGothicNeoRegular();
        font-size: 1.4rem;
        line-height: 1.7rem;
        color: var(--black-main);
        opacity: 0.5;

        @media (min-width: 750px) {
          font-size: 1.6rem;
          line-height: 1.9rem;
        }

        @media (min-width: 1200px) {
          font-size: 2.2rem;
          line-height: 2.6rem;
        }
      }
    }

    button {
      width: 100%;

      @media (min-width: 1440px) {
        width: 50%;
      }
    }
  }
}