section.gift 
  .container 
    .gift__inner
      h2 Прежде чем начнём работать вместе, мы хотим вручить подарок!
      .gift__block
        img(src="./assets/img/gift-btn.png" width="570" height="571" alt="")
        .gift__text 
          p Тревожная кнопка
            span в подарок
          p Установка и подключение
            span бесплатно
          p Абонентская плата
            span 0 руб.
      .gift__bottom 
        img(src="./assets/img/icons/gift.svg" width="628" height="170" alt="")
        button.btn.btn--green Скачать договор