section.offer
  .container 
    .offer__inner
      .offer__left
        .offer__block
          h1 Сейчас я расскажу, как сделаю охрану для Вас надёжной, а главное ДЕШЁВОЙ!
        .offer__text
          p Моё предложение
          p Пост охраны за 
            span 75 000 
            | руб. 
          button.btn.btn--green Оставить заявку
      .offer__img
        img(src="./assets/img/man.png" width="785" height="789" alt="")
    .offer__counter 
      p 00
      p :
      p  00
      p :
      p 00 
      p &nbsp дней
      img(src="./assets/img/icons/counter-xs.svg" width="294" height="86" alt="")
      img(src="./assets/img/icons/counter.svg" width="519" height="142" alt="")