.license {
  position: relative;
  z-index: 100;
  padding: 2rem 0 3rem 0;
  overflow-x: hidden;

  @media (min-width: 900px) {
    padding: 13rem 0 3rem 0;
  }

  @media (min-width: 1024px) {
    padding: 10rem 0 8rem 0;
  }

  @media (min-width: 1024px) {
    padding: 18.8rem 0 14.9rem 0;
  }

  &::after {
    position: absolute;
    z-index: -1;
    content: "";
    // top: -9rem;
    // // bottom: 0;
    // width: 100%;
    // height: 90%;
    // left: 0;
    // right: 0;
    top: -9rem;
    width: 100%;
    height: 60%;
    left: 0;
    background: rgba(255, 255, 255, 0.1);
    filter: blur(10rem);
    border-radius: 7.6rem;

    @media (min-width: 900px) {
      top: 14rem;
    }

    @media (min-width: 1440px) {
      top: 25%;
      left: 50%;
      height: 45%;
      transform: translateX(-50%);
    }
  }

  &__inner {
    width: 100%;
    position: relative;
    z-index: 1;
    width: 29rem;

    @media (min-width: 375px) {
      width: 34rem;
    }

    @media (min-width: 650px) {
      width: 40rem;
    }

    @media (min-width: 900px) {
      width: 90rem;
    }

    @media (min-width: 1024px) {
      width: 98rem;
    }

    @media (min-width: 1200px) {
      width: 114rem;
    }

    @media (min-width: 1440px) {
      width: 136rem;
    }

    &::after {
      position: absolute;
      content: "";
      z-index: -1;
      top: -0.1rem;
      left: -0.1rem;
      right: -0.2rem;
      bottom: -0.1rem;
      background: #00E8AD;
      background: linear-gradient(180deg, #00E8AD, #201D54);
      border-radius: 2.5rem;
    }
  }

  &__form {
    position: relative;
    width: 100%;
    // max-width: 87.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 1.3rem 1.5rem 1.2rem 1.5rem;
    background: radial-gradient(49.58% 50% at 50% 50%, rgba(47, 43, 114, 0.4) 0%, rgba(48, 44, 116, 0) 100%), #201D54;
    box-shadow: inset 0 1.5rem 3.8rem rgba(255, 255, 255, 0.25);
    border-radius: 2.5rem;
    // background: url("../img/icons/question-1-xs.svg");
    // background-repeat: no-repeat;
    // background-position: 0 0;
    // background-size: cover;

    @media (min-width: 900px) {
      align-items: flex-start;
      padding: 3rem 3.5rem 3rem 34rem;
      margin: 0 auto;
      // background: url("../img/icons/question-1.svg");
      // background-repeat: no-repeat;
      // background-position: 0 0;
    }

    @media (min-width: 1024px) {
      // max-width: 100rem;
      padding: 4rem 0 4rem 36rem;
    }

    @media (min-width: 1200px) {
      // max-width: 117rem;
      padding: 4rem 0 4rem 46rem;
    }

    @media (min-width: 1440px) {
      // max-width: 136rem;
      // padding: 4rem 0 4rem 52rem;
      padding: 4rem 0 6rem 52rem;
      // background: url("../img/icons/question-1.svg");
      // background-repeat: no-repeat;
      // background-position: 0 0;
    }

    // @media (min-width: 1440px) {
    //   padding: 4rem 0 4rem 55.6rem;
    //   background: url("../img/icons/license-bg.svg");
    //   background-repeat: no-repeat;
    //   background-size: 100% 100%;
    // }

    &::after,
    &::before {
      position: absolute;
      z-index: 10;
      content: "";
      top: -1.4rem;
      width: 23.8rem;
      height: 2rem;
      background: url("../img/icons/line-green.svg") 100% 100%/cover no-repeat;

      @media (min-width: 1440px) {
        width: 40.9rem;
      }
    }

    &::before {
      right: -1rem;
      top: -0.4rem;
      width: 23.8rem;
      height: 1.12rem;
      transform: translateX(-4%);
      background: url("../img/icons/line-green.svg") 100% 100%/cover no-repeat;

      @media (min-width: 900px) {
        display: block;
        right: 6rem;
        top: -10rem;
        width: 27.7rem;
        height: 12.2rem;
        background: url("../img/icons/license-text.svg") 100% 100%/cover no-repeat;
      }

      @media (min-width: 1024px) {
        top: -9.4rem;
        width: 28.7rem;
      }

      @media (min-width: 1200px) {
        right: 24rem;
        width: 30.7rem;
        height: 13.2rem;
        top: -10.4rem;
      }

      @media (min-width: 1440px) {
        // right: 0;
        // top: -14rem;
        right: 6rem;
        top: -16rem;
        width: 41.7rem;
        height: 19.2rem;
      }
    }
    
    &::after {
      right: -4rem;
      top: -0.6rem;
      height: 1.12rem;
      transform: translateX(-4%);

      @media (min-width: 375px) {
        right: -1rem;
        transform: translateX(-4%);
      }

       @media (min-width: 900px) {
        // left: 34rem;
        left: 29rem;
        top: -0.6rem;
      }

      @media (min-width: 1024px) {
        // left: 34rem;
        left: 31rem;
      }

      @media (min-width: 1200px) {
        // left: 34rem;
        left: 40rem;
      }

      @media (min-width: 1440px) {
        // left: 34rem;
        top: -0.3rem;
        height: 1.3rem;
      }
    }

    &::before {
      left: -2rem;
      top: -0.6rem;

      @media (min-width: 375px) {
        left: 1%;
        transform: translateX(-4%);
      }

      @media (min-width: 900px) {
        left: 57rem;
        top: -10.4rem;
      }

      @media (min-width: 1024px) {
        // left: 34rem;
        left: 59rem;
      }

      @media (min-width: 1200px) {
        // left: 34rem;
        left: 69rem;
      }

      @media (min-width: 1440px) {
        // left: 34rem;
        top: -15rem;
        left: 89rem;
      }
    }

    h2 {
      margin-bottom: 1.9rem;
      @include AppleSDGothicNeoExtraBold();
      font-size: 2.4rem;
      line-height: 2.9rem;
      color: var(--white-main);

      @media (min-width: 375px) {
        font-size: 2.6rem;
        line-height: 3.1rem;
      }

      @media (min-width: 750px) {
        font-size: 2.8rem;
        line-height: 3.3rem;
      }

      @media (min-width: 900px) {
        font-size: 3rem;
        line-height: 3.5rem;
      }

      @media (min-width: 1024px) {
        font-size: 3.2rem;
        line-height: 3.7rem;
      }

      @media (min-width: 1440px) {
        margin-bottom: 2.9rem;
        font-size: 5.2rem;
        line-height: 6.2rem;
      }
    }

    p {
      @include AppleSDGothicNeoLight();
      font-size: 1.3rem;
      line-height: 1.7rem;
      color: var(--white-main);

      @media (min-width: 750px) {
        font-size: 1.6rem;
        line-height: 2rem;
      }

      @media (min-width: 900px) {
        font-size: 1.8rem;
        line-height: 2.2rem;
      }

      @media (min-width: 1024px) {
        font-size: 2rem;
        line-height: 2.4rem;
      }

      @media (min-width: 1440px) {
        font-size: 2.4rem;
        line-height: 2.9rem;
      }

      &:nth-of-type(1) {
        margin-bottom: 1.6rem;

        @media (min-width: 750px) {
          margin-bottom: 1.8rem;
        }

        @media (min-width: 1440px) {
          margin-bottom: 2.5rem;
        }
      }

      &:nth-of-type(2) {
        max-width: 35rem;
        text-align: center;
        margin-bottom: 1.1rem;

        @media (min-width: 750px) {
          margin-bottom: 1.5rem;
        }

        @media (min-width: 900px) {
          max-width: 43rem;
          text-align: left;
        }

        @media (min-width: 1200px) {
          max-width: 47rem;
          text-align: left;
        }

        @media (min-width: 1440px) {
          max-width: 57rem;
          margin-bottom: 2.9rem;
        }
      }
    }

    &-phone {
      display: inline-block;
      margin-left: 3rem;
      @include AppleSDGothicNeoBold();
      font-size: 1.2rem;
      line-height: 2.4rem;
      color: var(--dark-green);

      @media (min-width: 375px) {
        font-size: 1.8rem;
        line-height: 2.2rem;
      }

      @media (min-width: 750px) {
        font-size: 2rem;
        line-height: 2.2rem;
      }

      @media (min-width: 900px) {
        font-size: 2.2rem;
        line-height: 2.4rem;
      }

      @media (min-width: 1024px) {
        font-size: 2.4rem;
        line-height: 2.6rem;
      }

      @media (min-width: 1440px) {
        font-size: 4rem;
        line-height: 4.8rem;
      }
    }

    &-policy {
      display: inline-block;
      text-align: center;
      @include AppleSDGothicNeoLight();
      font-size: 1rem;
      line-height: 1.2rem;
      color: var(--white-main);
      opacity: 0.5;

      @media (min-width: 750px) {
        font-size: 1.4rem;
        line-height: 1.6rem;
      }

      @media (min-width: 1024px) {
        font-size: 1.6rem;
        line-height: 1.8rem;
      }

      @media (min-width: 1440px) {
        text-align: left;
        font-size: 2rem;
        line-height: 2.4rem;
      }
    }

    img {
      display: none;

      @media (min-width: 900px) {
        // position: absolute;
        // z-index: 100;
        // left: 2.4rem;
        // top: 50%;
        // transform: translateY(-50%);
        // width: 26rem;
        // display: block;
      }

      // @media (min-width: 1024px) {
      //   left: 2.6rem;
      //   width: 30.3rem;
      // }

      @media (min-width: 900px) {
        position: absolute;
        z-index: 100;
        top: 50%;
        transform: translateY(-50%);
        left: 4.6rem;
        width: 24.3rem;
        display: block;
      }

      @media (min-width: 1024px)  {
        width: 28.3rem;
      }

      @media (min-width: 1200px) {
        // position: absolute;
        // z-index: 100;
        left: 4.6rem;
        width: 33.3rem;
        // display: block;
      }

      @media (min-width: 1440px) {
        left: 8.6rem;
        width: 38.3rem;
      }
    }
  }

  &__form-fields {
    width: 100%;
    max-width: 33rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.3rem;

    @media (min-width: 900px) {
      flex-direction: row;
      max-width: 51rem;
    }

    @media (min-width: 1024px) {
      max-width: 59rem;
    }
    
    @media (min-width: 1440px) {
      max-width: 74.2rem;
      flex-direction: row;
      margin-bottom: 3rem;
    }

    input {
      width: 100%;
      // height: 4rem;
      // margin-right: 3rem;
      margin-bottom: 1.5rem;
      padding: 1.4rem 1.6rem 1.4rem 1.6rem;
      // padding: 2.2rem 4.45rem;
      @include AppleSDGothicNeoRegular();
      font-size: 1.4rem;
      line-height: 1.7rem;
      color: var(--black-main);
      border-radius: 1.5rem;
      border: none;
      outline: none;

      @media (min-width: 750px) {
        // height: 5rem;
        padding: 1.5rem 1.6rem 1.1rem 1.6rem;
        font-size: 1.6rem;
        line-height: 2.8rem;
      }

      @media (min-width: 900px) {
        margin-right: 3rem;
        margin-bottom: 0;
      }

      @media (min-width: 1024px) {
        // height: 6rem;
      }

      @media (min-width: 1200px) {
        // height: 7rem;
        font-size: 2.2rem;
        line-height: 2.6rem;
      }

      @media (min-width: 1440px) {
        // height: 7rem;
        margin-bottom: 0;
        margin-right: 3rem;
        width: 50%;
        padding: 2.8rem 4.45rem 2.2rem 4.45rem;
        font-size: 2.2rem;
        line-height: 2.6rem;
      }

      &::placeholder {
        @include AppleSDGothicNeoRegular();
        font-size: 1.4rem;
        line-height: 1.7rem;
        color: var(--black-main);
        opacity: 0.5;

        @media (min-width: 750px) {
          font-size: 1.6rem;
          line-height: 1.9rem;
        }

        @media (min-width: 1200px) {
          font-size: 2.2rem;
          line-height: 2.6rem;
        }
      }
    }

    button {
      width: 100%;

      @media (min-width: 1440px) {
        width: 50%;
      }
    }
  }
}