section.license
  .container 
    .license__inner 
      form.license__form
        img(src="./assets/img/license.png" width="383" height="559" alt="")
        h2 Наша лицензия
        p Звоните по телефону:
          span.license__form-phone +7 495 987-65-43
        p Или укажитеваш номер и наши специалисты свяжутся с вами и подробно проконсультируют 
        .license__form-fields 
          input(type="text" placeholder="Телефон")
          button(type="submit").btn.btn--green Обратный звонок
        span.license__form-policy Нажимая кнопку, вы даёте согласие с Политикой обработки персональных данных