.socials
	ul.socials__list
		li.socials__item
			a(href="#!" target="_blank")
				img(src="./assets/img/icons/whatsapp.svg" width="36" height="36" alt="Вотсап")
		li.socials__item
			a(href="#!" target="_blank")
				img(src="./assets/img/icons/telegram.svg" width="36" height="36" alt="Телеграм")
