section#contacts.questions-full
  .container 
    .questions-full__inner 
      form.questions-full__form
        h2 Остались вопросы?
        p Звоните по телефону:
          span.questions-full__form-phone +7 495 987-65-43
        p Или укажитеваш номер и наши специалисты свяжутся с вами и подробно проконсультируют 
        .questions-full__form-fields 
          input(type="text" placeholder="Телефон")
          button(type="submit").btn.btn--green Обратный звонок
        span.questions-full__form-policy Нажимая кнопку, вы даёте согласие с Политикой обработки персональных данных