@font-face {
    font-family: '';
    src: url('AppleSDGothicNeoB00.woff2') format('woff2'),
        url('AppleSDGothicNeoB00.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '';
    src: url('AppleSDGothicNeoB00_1.woff2') format('woff2'),
        url('AppleSDGothicNeoB00_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '';
    src: url('AppleSDGothicNeoEB00.woff2') format('woff2'),
        url('AppleSDGothicNeoEB00.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '';
    src: url('AppleSDGothicNeoH00.woff2') format('woff2'),
        url('AppleSDGothicNeoH00.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '';
    src: url('AppleSDGothicNeoH00_1.woff2') format('woff2'),
        url('AppleSDGothicNeoH00_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '';
    src: url('AppleSDGothicNeoEB00_1.woff2') format('woff2'),
        url('AppleSDGothicNeoEB00_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '';
    src: url('AppleSDGothicNeoL00.woff2') format('woff2'),
        url('AppleSDGothicNeoL00.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '';
    src: url('AppleSDGothicNeoM00.woff2') format('woff2'),
        url('AppleSDGothicNeoM00.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '';
    src: url('AppleSDGothicNeoR00.woff2') format('woff2'),
        url('AppleSDGothicNeoR00.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '';
    src: url('AppleSDGothicNeoL00_1.woff2') format('woff2'),
        url('AppleSDGothicNeoL00_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '';
    src: url('AppleSDGothicNeoM00_1.woff2') format('woff2'),
        url('AppleSDGothicNeoM00_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '';
    src: url('AppleSDGothicNeoSB00.woff2') format('woff2'),
        url('AppleSDGothicNeoSB00.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '';
    src: url('AppleSDGothicNeoSB00_1.woff2') format('woff2'),
        url('AppleSDGothicNeoSB00_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '';
    src: url('AppleSDGothicNeoR00_1.woff2') format('woff2'),
        url('AppleSDGothicNeoR00_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '';
    src: url('AppleSDGothicNeoT00.woff2') format('woff2'),
        url('AppleSDGothicNeoT00.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '';
    src: url('AppleSDGothicNeoT00_1.woff2') format('woff2'),
        url('AppleSDGothicNeoT00_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '';
    src: url('AppleSDGothicNeoUL00.woff2') format('woff2'),
        url('AppleSDGothicNeoUL00.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '';
    src: url('AppleSDGothicNeoUL00_1.woff2') format('woff2'),
        url('AppleSDGothicNeoUL00_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

