header.header 
  .container 
    .header__inner
      include ./../../bem-blocks/logo/logo.pug
      include ./../../bem-blocks/nav/nav.pug
      include ./../../bem-blocks/socials/socials.pug
      button.btn.btn--transparent Заказать звонок