section.rate 
  .container 
    .rate__inner 
      h2 Подберите для себя тариф
      .rate__list 
        .rate__item
          h3 Тариф "Консьерж"
          p.rate__item-price от &nbsp
            span 75 000 &nbsp
            | руб.
          ul.rate__item-main
            li Опыт: &nbsp
              span от 1 года
            li Подготовка: &nbsp
              span базовая
            li Полномочия: &nbsp
              span минимальные
            li Спецсредства: &nbsp
              span нет
          h4 Функционал:
          p обходы и патрулирование территорий, работа со СКУД, взаимодействие с гос.органами, ведение документации, вызов Росгвардии, 
           | локализация техногенных инцидентов. Контролеры-администраторы не обладают полномочиями предотвращать кражи, досматривать сумки 
           | и задерживать нарушителей. 
          h4 Кому подойдет:
          ul.rate__item-objects 
            li Офисы
            li ЖК и ТСЖ
            li Коттеджные поселки
            li Салоны красоты
            li Фитнес клубы
          button.btn.btn--transparent Заказать
        .rate__item
          h3 Тариф “Стандарт”
          p.rate__item-price от &nbsp
            span 88 000 &nbsp
            | руб.
          ul.rate__item-main
            li Опыт: &nbsp
              span от 1 года
            li Подготовка: &nbsp
              span хорошая 
            li Полномочия: &nbsp
              span полные 
            li Спецсредства: &nbsp
              span рации, дубинки и металлодетекторы 
          h4 Функционал:
          p досмотр посетителей и сумок, предотвращение хищений, задержание преступников, обходы и патрулирование территорий, работа со СКУД, 
            | взаимодействие с гос.органами, ведение документации, вызов Росгвардии, локализация техногенных инцидентов.
          h4 Кому подойдет:
          ul.rate__item-objects 
            li Магазины
            li ТЦ и ТРК 
            li Стройки 
            li Склады 
            li Бизнес-центры
          button.btn.btn--transparent Заказать
        .rate__item
          h3 Тариф “Премиум”
          p.rate__item-price от &nbsp
            span 118 000 &nbsp
            | руб.
          ul.rate__item-main
            li Опыт: &nbsp
              span от 3 лет
            li Подготовка: &nbsp
              span превосходная 
            li Полномочия: &nbsp
              span полные + оружие
            li Спецсредства: &nbsp
              span рации, дубинки и металлодетекторы
          h4 Функционал:
          p такие охранники “победят” любого противника, создадут для вашего бизнеса внушительный внешний вид.  Мы лично занимаемся физической 
            | подготовкой бойцов, чтобы они всегда были в боевой готовности. 
          h4 Кому подойдет:
          ul.rate__item-objects 
            li Ночные клубы
            li Премиум салоны
            li Фитнес-клубы 
            li Медицинские центры
            li Бизнес-центры премиум класса 
            li Элитные магазины
          button.btn.btn--yellow Заказать