section.rate 
  .container 
    .rate__inner 
      h2 Подберите для себя тариф
      .rate__list 
        .rate__item
          h3 Тариф "Консьерж"
          p.rate__item-price от &nbsp
            span 75 000 &nbsp
            | руб.
          ul.rate__item-main
            li Опыт: &nbsp
              span от 1 года
            li Подготовка: &nbsp
              span базовая
            li Полномочия: &nbsp
              span минимальные
            li Спецсредства: &nbsp
              span нет
          h4 Функционал:
          p обходы и патрулирование территорий, работа со СКУД, взаимодействие с гос.органами, ведение документации, вызов Росгвардии, 
           | локализация техногенных инцидентов. Контролеры-администраторы не обладают полномочиями предотвращать кражи, досматривать сумки 
           | и задерживать нарушителей. 
          h4 Кому подойдет:
          ul.rate__item-objects 
            li Офисы
            li ЖК и ТСЖ
            li Коттеджные поселки
            li Салоны красоты
            li Фитнес клубы
          button.btn.btn--transparent Заказать
        .rate__item
          h3 Тариф "Консьерж"
          p.rate__item-price от &nbsp
            span 75 000 &nbsp
            | руб.
          ul.rate__item-main
            li Опыт: &nbsp
              span от 1 года
            li Подготовка: &nbsp
              span базовая
            li Полномочия: &nbsp
              span минимальные
            li Спецсредства: &nbsp
              span нет
          h4 Функционал:
          p обходы и патрулирование территорий, работа со СКУД, взаимодействие с гос.органами, ведение документации, вызов Росгвардии, 
           | локализация техногенных инцидентов. Контролеры-администраторы не обладают полномочиями предотвращать кражи, досматривать сумки 
           | и задерживать нарушителей. 
          h4 Кому подойдет:
          ul.rate__item-objects 
            li Офисы
            li ЖК и ТСЖ
            li Коттеджные поселки
            li Салоны красоты
            li Фитнес клубы
          button.btn.btn--transparent Заказать
        .rate__item
          h3 Тариф "Консьерж"
          p.rate__item-price от &nbsp
            span 75 000 &nbsp
            | руб.
          ul.rate__item-main
            li Опыт: &nbsp
              span от 1 года
            li Подготовка: &nbsp
              span базовая
            li Полномочия: &nbsp
              span минимальные
            li Спецсредства: &nbsp
              span нет
          h4 Функционал:
          p обходы и патрулирование территорий, работа со СКУД, взаимодействие с гос.органами, ведение документации, вызов Росгвардии, 
           | локализация техногенных инцидентов. Контролеры-администраторы не обладают полномочиями предотвращать кражи, досматривать сумки 
           | и задерживать нарушителей. 
          h4 Кому подойдет:
          ul.rate__item-objects 
            li Офисы
            li ЖК и ТСЖ
            li Коттеджные поселки
            li Салоны красоты
            li Фитнес клубы
          button.btn.btn--yellow Заказать