section.thanks
  .container 
    .thanks__inner 
      h2 Благодарности
  .swipers
    .swiper-wrap
      .swiper.thanks__slider
        .swiper-wrapper
          .swiper-wrapper__top
            .swiper-slide
              img(src="./assets/img/icons/logo.svg" width="133" height="44" alt="Логотип группы компаний Контакт")
            .swiper-slide
              img(src="./assets/img/icons/logo.svg" width="133" height="44" alt="Логотип группы компаний Контакт")
            .swiper-slide
              img(src="./assets/img/icons/logo.svg" width="133" height="44" alt="Логотип группы компаний Контакт")
            .swiper-slide
              img(src="./assets/img/icons/logo.svg" width="133" height="44" alt="Логотип группы компаний Контакт")
            .swiper-slide
              img(src="./assets/img/icons/logo.svg" width="133" height="44" alt="Логотип группы компаний Контакт")
          .swiper-wrapper__bottom
            .swiper-slide
              img(src="./assets/img/icons/logo.svg" width="133" height="44" alt="Логотип группы компаний Контакт")
            .swiper-slide
              img(src="./assets/img/icons/logo.svg" width="133" height="44" alt="Логотип группы компаний Контакт")
            .swiper-slide
              img(src="./assets/img/icons/logo.svg" width="133" height="44" alt="Логотип группы компаний Контакт")
            .swiper-slide
              img(src="./assets/img/icons/logo.svg" width="133" height="44" alt="Логотип группы компаний Контакт")
        .swiper-buttons      
          .swiper-button-next(rel="next")
          .swiper-button-prev(rel="prev")
    //- .swiper-wrap
    //-   .swiper.thanks__slider-bottom
    //-     .swiper-wrapper
    //-       .swiper-slide
    //-         img(src="./assets/img/icons/logo.svg" width="133" height="44" alt="Логотип группы компаний Контакт")
    //-       .swiper-slide
    //-         img(src="./assets/img/icons/logo.svg" width="133" height="44" alt="Логотип группы компаний Контакт")
    //-       .swiper-slide
    //-         img(src="./assets/img/icons/logo.svg" width="133" height="44" alt="Логотип группы компаний Контакт")
    //-       .swiper-slide
    //-         img(src="./assets/img/icons/logo.svg" width="133" height="44" alt="Логотип группы компаний Контакт")
    //- .swiper-buttons
    //-   .swiper-button-next(rel="next")
    //-   .swiper-button-prev(rel="prev")