.btn {
  height: 6rem;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  outline: none;
  border: none;
  border-radius: 1.5rem;

  &--transparent {
    padding: 2.3rem 6.7rem;
    @include AppleSDGothicNeoRegular();
    font-size: 2rem;
    line-height: 2.4rem;
    color: var(--dark-green);
    border: 0.1rem solid var(--dark-green);
    background: transparent;
  }

  &--green {
    height: 4rem;
    // padding: 2.2rem 2.5rem;
    padding: 1.7rem 2.5rem 2.2rem 2.5rem;
    @include AppleSDGothicNeoBold();
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: var(--black-main);
    background: var(--dark-green);

    @media (min-width: 750px) {
      height: 5rem;
      padding: 2rem 2.5rem 2.2rem 2.5rem;
      font-size: 1.6rem;
      line-height: 1.9rem;
    }

    @media (min-width: 1024px) {
      height: 6rem;
      padding: 2.3rem 2.5rem 2.2rem 2.5rem;
      // font-size: 2.2rem;
      // line-height: 2.6rem;
    }

    @media (min-width: 1200px) {
      height: 7rem;
      padding: 2.7rem 2.5rem 2.2rem 2.5rem;
      font-size: 2.2rem;
      line-height: 2.6rem;
    }
  }

  &--yellow {
    height: 7rem;
    position: relative;
    // padding: 1.7rem 6.7rem;
    padding: 2.8rem 6.7rem 1.7rem 6.7rem;
    @include AppleSDGothicNeoBold();
    font-size: 2rem;
    line-height: 2.4rem;
    color: #E8C300;
    background: transparent;
    border: 0.1rem solid #E8C300;
  }
}