section.chop 
  .container 
    .chop__inner
      .chop__text
        h2 Почти все ЧОПы ищут большие объекты и у них нет мотивации работать с ВАМИ
        p ЧОПы создаются не под ВАС - клиентов, которые ищут через интернет охрану, а под крупные контракты. Как правило. это 
          | большие контракты по 20-100 постов. Когда обращается клиент с 1-5 постами охраны, это просто не интересно. Если ты 
          | зарабатываешь с одного контракта 1 миллион, то контракты по 10-20 тыс. рублей прибыльности просто не нужны. 
        p Сложная логистика, закупка формы, спецсредства, нужно обустраивать быт охранников, постоянные проверки, транспортные расходы, раздутый штат. 
          | Много работы и мало выхлопа. 
        p У нас нет больших знакомств или крутых объектов под охраной. Мы потом и кровью добиваемся всего, 
          | работая с такими же небольшими предпринимателями как ВЫ!
        //- p ЧОПы создаются не под ВАС - клиентов, которые ищут через интернет охрану, а под крупные контракты. Как правило. это 
        //-   | большие контракты по 20-100 постов. Когда обращается клиент с 1-5 постами охраны, это просто не интересно. Если ты 
        //-   | зарабатываешь с одного контракта 1 миллион, то контракты по 10-20 тыс. рублей прибыльности просто не нужны. 
        //- p Сложная логистика, закупка формы, спецсредства, нужно обустраивать быт охранников, постоянные проверки, транспортные расходы, раздутый штат. 
        //-   | Много работы и мало выхлопа. 
        //- p У нас нет больших знакомств или крутых объектов под охраной. Мы потом и кровью добиваемся всего, 
        //-   | работая с такими же небольшими предпринимателями как ВЫ!
          